.about-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.about-text10 {
  display: inline-block;
}
 
.about-text11 {
  display: inline-block;
}
 
.about-text12 {
  display: inline-block;
}
 
.about-text13 {
  display: inline-block;
}
 
.about-text14 {
  display: inline-block;
}
 
.about-text15 {
  display: inline-block;
}
 
.about-text16 {
  display: inline-block;
}
 
.about-text17 {
  display: inline-block;
}
 
.about-text18 {
  display: inline-block;
}
 
.about-text19 {
  display: inline-block;
}
 
.about-text20 {
  display: inline-block;
}
 
.about-text21 {
  display: inline-block;
}
 
.about-text22 {
  display: inline-block;
}
 
.about-text23 {
  display: inline-block;
}
 
.about-text24 {
  display: inline-block;
}
 
.about-text25 {
  display: inline-block;
}
 
.about-text26 {
  display: inline-block;
}
 
.about-text27 {
  display: inline-block;
}
 
.about-text28 {
  display: inline-block;
}
 
.about-text29 {
  display: inline-block;
}
 
.about-text30 {
  display: inline-block;
}
 
.about-text31 {
  display: inline-block;
}
 
.about-text32 {
  display: inline-block;
}
 
.about-text33 {
  display: inline-block;
}
 
.about-text34 {
  display: inline-block;
}
 
.about-text35 {
  display: inline-block;
}
 
.about-text36 {
  display: inline-block;
}
 
.about-text37 {
  display: inline-block;
}
 
.about-text38 {
  display: inline-block;
}
 
.about-text39 {
  display: inline-block;
}
 
.about-text40 {
  display: inline-block;
}
 
.about-text41 {
  display: inline-block;
}
 
.about-text42 {
  display: inline-block;
}
 
.about-text43 {
  display: inline-block;
}
 
.about-text44 {
  display: inline-block;
}
 
.about-text45 {
  display: inline-block;
}
 
.about-text46 {
  display: inline-block;
}
 
.about-text47 {
  display: inline-block;
}
 
.about-text48 {
  display: inline-block;
}
 
.about-text49 {
  display: inline-block;
}
 
.about-text50 {
  display: inline-block;
}
 
.about-text51 {
  display: inline-block;
}
 
.about-text52 {
  display: inline-block;
}
 
.about-text53 {
  display: inline-block;
}
 
.about-text54 {
  display: inline-block;
}
 
.about-text55 {
  display: inline-block;
}
 
.about-text56 {
  display: inline-block;
}
 
.about-text57 {
  display: inline-block;
}
 
.about-text58 {
  display: inline-block;
}
 
.about-text59 {
  display: inline-block;
}
 
.about-text60 {
  display: inline-block;
}
 
.about-text61 {
  display: inline-block;
}
 
.about-text62 {
  display: inline-block;
}
 
.about-text63 {
  display: inline-block;
}
 
.about-text64 {
  display: inline-block;
}
 
.about-text65 {
  display: inline-block;
}
 
.about-text66 {
  display: inline-block;
}
 
.about-text67 {
  display: inline-block;
}
 
.about-text68 {
  display: inline-block;
}
 
.about-text69 {
  display: inline-block;
}
 
.about-text70 {
  display: inline-block;
}
 
.about-text71 {
  display: inline-block;
}
 
.about-text72 {
  display: inline-block;
}
 
.about-text73 {
  display: inline-block;
}
 
.about-text74 {
  display: inline-block;
}
 
.about-text75 {
  display: inline-block;
}
 
.about-text76 {
  display: inline-block;
}
 
.about-text77 {
  display: inline-block;
}
 
.about-text78 {
  display: inline-block;
}
 
.about-text79 {
  display: inline-block;
}
 
.about-text80 {
  display: inline-block;
}
 
.about-text81 {
  display: inline-block;
}
 
.about-text82 {
  display: inline-block;
}
 
.about-text83 {
  display: inline-block;
}
 
.about-text84 {
  display: inline-block;
}
 
.about-text85 {
  display: inline-block;
}
 
.about-text86 {
  display: inline-block;
}
 
.about-text87 {
  display: inline-block;
}
 
.about-text88 {
  display: inline-block;
}
 
.about-text89 {
  display: inline-block;
}
 
.about-text90 {
  display: inline-block;
}
 
.about-text91 {
  display: inline-block;
}
 
.about-text92 {
  display: inline-block;
}
