.hero8-header26 {
  gap: var(--dl-layout-space-twounits);
}
 
.hero8-max-width {
  align-self: center;
}
 
.hero8-column {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero8-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero8-text1 {
  text-align: center;
}
 
.hero8-text2 {
  text-align: center;
}
 
.hero8-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.hero8-text5 {
  display: inline-block;
}
 
.hero8-text6 {
  display: inline-block;
}
 
.hero8-text7 {
  display: inline-block;
}
 
.hero8-text8 {
  display: inline-block;
}
 
@media(max-width: 479px) {
  .hero8-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero8-button1 {
    width: 100%;
  }
  .hero8-button2 {
    width: 100%;
  }
}
